* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.hidden {
  visibility: hidden;;
}

#indicator {
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: lightgreen;
}

#indicator p {
  margin: 0 0 5px 0;
  font-size: 12px;
  line-height: 1.5;
}

#indicator p span {
  font-weight: bold;
  color: red;
}

#wrapper {
  position: relative;
  overflow: auto;
}

.container {
  height: 2000px;
}

.container .placeholder {
  height: 200px;
}

.container .bar {
  margin: auto;
  outline: 1px solid blue;
}

.container .bar .bar-inner {
  width:600px;
  height: 50px;
  border: 3px solid #CC0000;
  font: bold 18px Arial, sans-serif;
  line-height: 50px;
  text-align: center;
  color: #FFF;
}

.container .bar.first .bar-inner {
  background-color:#000;
}

.container .bar.second .bar-inner {
  background-color: #333;
}

.container .bar.third .bar-inner {
  background-color: #666;
}

.container .bar.fourth .bar-inner {
  background-color: #999;
}

.container .bar.fifth .bar-inner {
  background-color: #DDD;
  color: #666;
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
}

#logo a img {
  border: 0;
}

@media screen and (max-width: 600px) {
  .container .bar .bar-inner {
    width: 100%;
  }
}
